Makefile
/build/
/dist/
/docs/
/test/input.PriorsTest/
/test/input.Tanner2013orig/
/nbproject/
/nbproject/private/
/test/input.RetrospectiveTest/
/test/run.RetrospectiveTest/
/test/run.Tanner2013/
/test/run.fitSimDataTest/
/test/run.Tanner2014a/
/test/run.fit.rsimTCSAM/