/test/input/
/test/runMac/
/nbproject/private/
/build/
/dist/
/docs/
/test/input.PriorsTest/
/test/input.Tanner2013orig/
/nbproject/
/test/input.RetrospectiveTest/
/test/run.RetrospectiveTest/
/test/run.Tanner2013/